<!--==========================
  Video Section
============================-->

<section id="video" class="text-center wow fadeInUp">
  <div class="overlay">
    <div class="container-fluid container-full">

      <div class="row">
        <a href="#" class="js-modal-btn play-btn" data-video-id="s22ViV7tBKE"></a>
      </div>

    </div>
  </div>
</section>


<!--==========================
  About Us Section
============================-->
<section id="about-us" class="about-us padd-section wow fadeInUp">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-5 col-lg-3">
        <img src="/src/assets/img/about-img.png" alt="About">
      </div>

      <div class="col-md-7 col-lg-5">
        <h1><a href="#body" class="scrollto"><span>e</span>TickTock</a></h1>
        <h2>Digital Security Systems</h2>
        <div class="about-content">
          <p class="separator">
            TickTock Pvt Ltd was a dream of very good friends to eliminate the challeges Organizations/Companies faced during Identity and Security Systems.
            Having been a part of the system themselves, they set it upon themselves to improve the Identity and Security process for associated and Employeers and Employees through the use of technology. That is how TickTock was born.

            Through perserverence and complete focus TickTock is growing in size and reach.

          </p>

          <ul class="list-unstyled">
            <li><i class="fa fa-angle-right"></i>Creative Design</li>
            <li><i class="fa fa-angle-right"></i>Retina Ready</li>
            <li><i class="fa fa-angle-right"></i>Easy to Use</li>
            <li><i class="fa fa-angle-right"></i>Unlimited Features</li>
            <li><i class="fa fa-angle-right"></i>Unlimited Features</li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</section>
